.navbar-toggler {
  border: none !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(15, 146, 231, 0.99)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/** BOOTSTRAP grid: **/
/** GENERAL STYLE **/
html, body, * {
  font-family: Roboto, sans-serif;
}

main#quizzListPage, main#loginPage, main#mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFCFD;
  min-height: 80vh;
}

* {
  -webkit-transition: all 125ms ease-in-out !important;
  -moz-transition: all 125ms ease-in-out !important;
  -ms-transition: all 125ms ease-in-out !important;
  -o-transition: all 125ms ease-in-out !important;
  transition: all 125ms ease-in-out !important;
}

html, body {
  box-sizing: border-box !important;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #666666;
  font-weight: normal;
}
h1.subtitle, h2.subtitle, h3.subtitle, h4.subtitle, h5.subtitle, h6.subtitle {
  color: #607D8B;
  font-weight: 300;
}

.bg-light-blue {
  background-color: #37A8F2;
}
.bg-light-blue.hover-lighten:hover {
  background-color: #4fb2f4;
}

.bg-dark-blue {
  background-color: #0f92e7;
}
.bg-dark-blue.hover-lighten:hover {
  background-color: #1f9ef0;
}

.bg-light-grey {
  background-color: #607D8B;
}
.bg-light-grey.hover-lighten:hover {
  background-color: #6b8a99;
}

.bg-dark-grey {
  background-color: #666666;
}
.bg-dark-grey.hover-lighten:hover {
  background-color: #737373;
}

/** --END OF GENERAL STYLE **/
/** TOP PAGE **/
#logoMenu {
  display: inline-block;
  max-width: 200px;
}

/** -- END TOP PAGE **/
/** HOME PAGE **/
main#mainPage .container {
  margin-top: -10vh;
}

/** --END HOME PAGE **/
/** LOGIN PAGE **/
main#loginPage .form-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 992px) {
  main#loginPage .form-signin {
    width: 55%;
  }
}
@media (max-width: 768px) {
  main#loginPage .form-signin {
    width: 80%;
  }
}
@media (max-width: 576px) {
  main#loginPage .form-signin {
    width: 90%;
  }
}
main#loginPage .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
main#loginPage .form-signin .form-control:focus {
  z-index: 2;
}
main#loginPage .form-signin input[type=email], main#loginPage .form-signin input[type=text], main#loginPage .form-signin input[type=password]:not(#inputPasswordConfirm) {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
main#loginPage .form-signin input[type=password]#inputPasswordConfirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/** --END LOGIN PAGE **/
/** QUIZZLIST PAGE **/
main#quizzListPage {
  padding-top: 5vh;
  margin-bottom: 5vh;
}
main#quizzListPage .quizz-box {
  padding-right: 0px;
  padding-left: 0px;
  border: 2px solid #666666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
main#quizzListPage .quizz-box:hover {
  background-color: #37A8F2;
  border: 2px solid #37A8F2;
}
main#quizzListPage .quizz-box:hover .description, main#quizzListPage .quizz-box:hover .title {
  color: white !important;
}
main#quizzListPage .quizz-box:hover .bottom-button {
  bottom: 0px;
}
main#quizzListPage .quizz-box .title-description-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  height: 20vh;
  margin-top: 4vh;
}
main#quizzListPage .quizz-box .title-description-container .title {
  color: #666666;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
main#quizzListPage .quizz-box .title-description-container .description {
  width: 100%;
  text-align: center;
  font-weight: 300;
}
main#quizzListPage .quizz-box a {
  text-decoration: none;
}
main#quizzListPage .quizz-box a .bottom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 0;
  border: 0px;
  position: relative;
  bottom: -8vh;
  background-color: #666666;
  width: 100%;
  height: 4vh;
  font-weight: 500;
}
main#quizzListPage .quizz-box a .bottom-button:hover {
  background-color: #595959;
  cursor: pointer;
}
@media (max-width: 768px) {
  main .container {
    width: 95%;
    padding-right: 0px;
    padding-left: 0px;
  }
}

/** --END QUIZZLIST PAGE **/
/** FOOTER **/
footer {
  background-color: #37A8F2;
  min-height: 13vh;
  display: flex;
  justify-content: center;
  align-item: center;
}
footer .container {
  align-self: center;
  height: 100%;
}

/** --END FOOTER**/

/*# sourceMappingURL=style.css.map */
