<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>FastQuizz</title>

    <!--<link rel="stylesheet" href="css/bootstrap-grid.css"/>-->
    <!--<link rel="stylesheet" href="css/bootstrap-reboot.css"/>-->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!--<script src="js/bootstrap.bundle.js"></script>-->

</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="img/Lgo.png" alt="FastQuizz logo" id="logoMenu">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseFastQuizzMenu"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapseFastQuizzMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark">Signup</a>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
                           <!--data-toggle="dropdown"-->
                           <!--aria-haspopup="true" aria-expanded="false"> Dropdown on Right</a>-->
                        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                            <!--<a class="dropdown-item" href="#">Action</a>-->
                            <!--<a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main">
    <div id="app">

        <header class="bg-primary text-white">
            <div class="container text-center">
                <h1>{{ quizzList.title }}</h1>
                <p class="lead">{{ quizzList.description }}</p>
            </div>
        </header>

        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>{{ quizzList.questions[indexQuestionInQuizzList].question }}</h2>
                        <div class="question-responses-list">
                            <div class="responses-list"
                                 v-for="(answers, index) in quizzList.questions[indexQuestionInQuizzList].answers">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="answerResponse"
                                           :id="'radio'+index"
                                           :value="answers.value">
                                    <label class="form-check-label" :for="'radio'+index">
                                        {{answers.value }}
                                    </label>
                                </div>
                                <!--<a href="#" @click="takeUserResponse(response)">{{ response }}</a>-->
                                <!--<a href="#" v-model="lastUserResponse">{{ response }}</a>-->
                            </div>
                        </div>

                        <button @click="takeUserResponse(quizzList.id)" class="btn btn-primary btn-lg btn-block">
                            Répondre
                        </button>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; FastQuizz 2019</p>
    </div>
    <!-- /.container -->
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/script.js"></script>
</body>
</html>